<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="smtpHost" value="smtp.emailsrvr.com"/>
    <add key="smtpPort" value="25"/>
    <add key="smtpUserName" value="******"/>
    <add key="smtpPassWord" value="******"/>
    <add key="smtpEmail" value="******"/>
    <add key="smtpDisplayName" value= "ICS Generator"/>
  </appSettings>
    <connectionStrings />
    <system.web>
        <compilation debug="true">
        </compilation>
        <authentication mode="Windows" />
    </system.web>
</configuration>
